.logo img {
  height: 80px;
}
.logo {
  text-align: center;
}
.logo nav {
  width: 100%;
  background-color: black;
  text-align: left;
  padding: 4px 0px 4px 10px;
  line-height: 40px;
  font-size: 16px;
}
.logo a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  padding: 6px;
}
.logo a:hover {
  background-color: grey;
  border-radius: 5px;
}
